<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="fobo2">

    <!-- Define parameters of chassis -->
    <xacro:property name="chassis_length" value="0.55"/>
    <xacro:property name="chassis_width" value="0.55"/>
    <xacro:property name="chassis_depth" value="0.6"/>
    <xacro:property name="chassis_size" value="0.55 0.35 0.3"/>
    <xacro:property name="chassis_mass" value="1"/>

    <!-- Define robot chassis -->
    <link name="base_link">
        <visual>
            <geometry>
                <!-- <box size="1 1 1"/> -->
                <box size="${chassis_size}"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.085"/>
            <material name="white">
                <color rgba="1 1 1 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <!-- <box size="1 1 1"/> -->
                <box size="${chassis_size}"/>
            </geometry>
            <origin rpy="0 0 0" xyz="0 0 0.085"/>
        </collision>
        <inertial>
            <mass value="$(chassis_mass)"/>
            <inertia ixx="1" ixy="0.0" ixz="0.0" iyy="0.4" iyz="0.0" izz="0.2"/>
        </inertial>
    </link>





</robot>